{% extends 'admin/header.html.twig' %}

{% block title %}Deal Games
{% endblock %}

{% block body %}
	<div class="contaier">
		<h1>Panneau d'administration</h1>
		<h3>Annonces</h3>
		<h3>Catégories</h3>
		<h3>Commentaires</h3>
		<h3>Utilisateurs</h3>
	</div>
{% endblock %}
